.products__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

#cart_icon:hover {
    cursor: pointer
}

.home__container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cedde2;
}

.home__form-container {
    width: 500px;
    border: 1px solid lightgray;
    /* margin: auto; */
    padding: 40px;
    /* border-radius: 5px; */
    background-color: white;

}

.home__form-container .btn {
    width: 100%;
    height: 50px;
    border-radius: 50px;
}

.home__form-container .form-group {
    margin-bottom: 30px;
}

.home__form-container p {
    text-align: center;
}
.home__hero {
    background-image: url('/images/image_book.jpg');
    background-size: cover;
    background-position: left bottom;
    width: 40vw
}
.home__title {
    text-align: center;
    margin-bottom: 30px;
}

.home__subtitle {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.home__subtitle a {
    text-decoration: none;
    font-weight: bold;
}


.social-login {
    display: flex;
    justify-content: center;

}

.social-login__container {
    height: 40px;
    width: 40px;
    background-color: grey;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-login__container a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}