body {
    background-color: #cedde2;
}

.navbar {
    padding-left: 48px;
    padding-right: 48px;
}

.products__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

#cart_icon:hover {
    cursor: pointer
}

.chat_button {
    background-color: lightgray;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 5px;
}

.home__container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cedde2;
    
}

.home__container .row {
    margin: 0px;
}

.home__form-container {
    height: 75vh;
    width: 500px;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 40px;
    background-color: white;
}

.home__form-container .btn {
    width: 100%;
    height: 50px;
    border-radius: 50px;
}

.home__form-container .form-group {
    margin-bottom: 15px;
}

.home__form-container p {
    text-align: center;
}
.home__hero {
    background-image: url('/images/image_book.jpg');
    background-size: cover;
    background-position: left bottom;
    width: 40vw
}
.home__title {
    text-align: center;
    margin-bottom: 30px;
}

.home__subtitle {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.home__subtitle a {
    text-decoration: none;
    font-weight: bold;
}


.social-login {
    display: flex;
    justify-content: center;

}

.social-login__container {
    height: 40px;
    width: 40px;
    background-color: grey;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social-login__container div {
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.recovery__form-container {
    /* height: 75vh; */
    width: 500px;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 40px;
    background-color: white;
}

.recovery__form-container .btn {
    width: 100%;
    height: 50px;
    border-radius: 50px;
}

.recovery__form-container .form-group {
    margin-bottom: 20px;
}

.recovery__form-container p {
    text-align: center;
}
.recovery__form-container label {
    margin-bottom: 10px;
}

.card-img-top {
    height: 170px;
    background-color: lightgray;
}
.card {
    position: relative;
}
.btn-editProduct {
    position: absolute;
    opacity: 0.8;
    left: 10px;
    top: 10px;
}

.containerProfile {
    text-align: center;
    height: 200px;

}
.containerProfilePhoto {
    margin: auto;
    height:100%;
    width: 200px;
    border-radius: 50%;
    background-color: lightgray;
    overflow: hidden;
    /* background image: imagen generica de un usuario */

}
.profilePhoto {
    height: 100%;
}
.productImg {
    height: 200px;
}
.productImgContainer {
    text-align: center;
}