<h1>Chat</h1>

<div>
  <p>Ingrese su msg:</p>
  <input id="input-msg" type="text" value="" placeholder="Write here" />
</div>
<p>Listado de msgs:</p>
<div id="div-msgs">
  Loading...
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>