<div class="home__container">
    <div class="row justify-content-center">

        <div class="home__hero col-12 col-lg-6">
        </div>

        <div class="home__form-container">

            <h3 class="home__title">Welcome to Precinct</h3>
            <form action="/auth/login" method="post">
                <div class="home__subtitle">
                    <div><strong>Sign in to continue</strong></div>
                    <div>Not a member yet? <a href="/register">Register now</a></div>
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="signInEmail" aria-describedby="emailHelp"
                        placeholder="Email address" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="signInPassword"
                        placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </br></br>
                <a href="/pass-recovery"><p>Forgotten password?</p></a>
                <hr>
                <p>- or sign up using -</p>
                <div class="social-login">
                    <a href="#" class="social-login__container">
                        <div class="fa fa-facebook-f"></div>
                    </a>
                    <a href="#" class="social-login__container">
                        <div class="fa fa-instagram"></div>
                    </a>
                    {{!-- <div class="social-login__container"><a href="/auth/github" class="fa fa-github"></a></div>
                    --}}
                    <a href="/api/sessions/github" class="social-login__container">
                        <div class="fa fa-github"></div>
                    </a>
                </div>
        </div>
    </div>
</div>