<div class="home__container">
    <div class="recovery__form-container">
        <h3 class="home__title">Password reset</h3>
        <form action="/" method="get">
            <hr>
            <div class="form-group">
                <label for="registerEmail">
                    {{msg}}
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Back to login</button>
        </form>
    </div>
</div>