<div class="home__container">
    <div class="home__form-container">
        <div style="text-align:end">
            <a href="/products/edit/{{prodId}}" style="text-decoration: none;">&#10006;</a>
        </div>
        <h3 class="home__title">Add photos</h3>

        <form action="/products/edit/{{prodId}}" method="post">
            <div class="form-group">
                    <div class="productImgContainer">
                        <img class="productImg" src="/products/{{prodId}}.jpeg" onerror="this.src='/products/fallback-product.jpg'" />
                    </div>
                <label for="photo">Photo</label>
                <input type="file" class="form-control" id="photo" name="photo" accept="image/*">
            </div>
        </form>
        <button class="btn btn-primary" onclick="addProductPhoto('{{prodId}}')">Upload photo</button>
    </div>
</div>

<script src="/js/products-edit.js"></script>