<div class="home__container">
    <div class="home__form-container">
        <div style="text-align:end">
            <a href="/users/{{user._id}}" style="text-decoration: none;">&#10006;</a>
        </div>
        <h3 class="home__title">Profile photo</h3>
        <div class="containerProfile">
            <div class="containerProfilePhoto">
                <img class="profilePhoto" src="/profiles/{{user._id}}.jpeg" onerror="this.src='/profiles/profile-img.png'"/>
            </div>
        </div>
        <br>

        <form action="" method="">

            <div class="form-group">
                <label for="profile">Profile photo</label>
                <input type="file" class="form-control" id="profile" name="profile" accept="image/*">
            </div>
            <br>
        </form>

        <a onclick="uploadProfile('{{user._id}}')"><button
                class="btn btn-primary">Upload image</button></a>
    </div>
</div>

<script src="/js/users.js"></script>