<div class="home__container">
    <div class="home__form-container">
        <div style="text-align:end">
            <a href="/users/{{user._id}}" style="text-decoration: none;">&#10006;</a>
        </div>
        <h3 class="home__title">Upload document</h3>
        <div class="containerProfile">
            <div class="containerProfilePhoto">
                <img class="profilePhoto" src="/profiles/{{user._id}}.jpeg"
                    onerror="this.src='/profiles/profile-img.png'" />
            </div>
        </div>
        <br>

        <form action="/api/users/{{user._id}}/documents" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="type">Select the type of document:</label>
                <select name="type" id="type">
                    <option value="none" selected disabled hidden>Select an option</option>
                    <option value="identification">Identification</option>
                    <option value="address">Proof of address</option>
                    <option value="account">Bank account details</option>
                </select>
            </div>
            <div class="form-group">
                <input type="file" class="form-control" id="documents" name="documents">
            </div>

            <br>
            <input class="btn btn-primary" type="submit" value="Upload document">
        </form>
    </div>
</div>

<script src="/js/users.js"></script>